report/
npu_old.v
hotspot_old/
benchmark/log/

# quartus files
pipelined_vector/*.qsys
pipelined_vector/*.sopcinfo
pipelined_vector/*.qpf
pipelined_vector/*.qsf
pipelined_vector/*.qws
pipelined_vector/fp_mac
pipelined_vector/fp_add
pipelined_vector/fp_div
pipelined_vector/db
pipelined_vector/.qsys_edit
pipelined_vector/npu.v.orig
pipelined_vector/*.bak
pipelined_vector/serv_req_info.txt

# used to generate executable benchmark files
benchmark/fft/bin/
benchmark/fft/obj/
benchmark/fft/src/
benchmark/fft/Makefile
benchmark/fft/run.sh

benchmark/inversek2j/bin/
benchmark/inversek2j/obj/
benchmark/inversek2j/src/
benchmark/inversek2j/Makefile
benchmark/inversek2j/run.sh
benchmark/inversek2j/data/input/
