report/
npu_old.v
hotspot_old/

# quartus files
array_processor/*.qsys
array_processor/*.sopcinfo
array_processor/*.qpf
array_processor/*.qsf
array_processor/*.qws
array_processor/fp_mac
array_processpr/fp_add
array_processor/fp_div
array_processor/db
array_processor/.qsys_edit
array_processor/npu.v.orig
array_processor/*.bak
array_processor/serv_req_info.txt

# used to generate executable benchmark files
benchmark/fft/bin/
benchmark/fft/obj/
benchmark/fft/src/
benchmark/fft/Makefile
benchmark/fft/run.sh

benchmark/inversek2j/bin/
benchmark/inversek2j/obj/
benchmark/inversek2j/src/
benchmark/inversek2j/Makefile
benchmark/inversek2j/run.sh
benchmark/inversek2j/data/input/
